@model ITintheDWebsite.Models.Application

@{
    ViewBag.Title = "Apply";
}
<div class="apply">
<h2>Apply</h2>

@using (Html.BeginForm("Apply", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Application</legend>

        <div class="editor-label">
            <b>Email Address</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            <b>First Name</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            <b>Last Name</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            <b>How'd you hear about us?</b>
        </div>
        <div class="editor-field">
            @*Html.EditorFor(model => model.HowYouHeard)*@
            @Html.DropDownList("HowYouHeard")
            @Html.ValidationMessageFor(model => model.HowYouHeard)
        </div>

        <div class="editor-label">
            <b>What role are you interested in?</b>
        </div>
        <div class="editor-field">
            @*Html.EditorFor(model => model.Role)*@
            <div id="roleRow">
                Business Analyst @Html.RadioButtonFor(model => model.Role, "Business Analyst")
                Project Manager @Html.RadioButtonFor(model => model.Role, "Project Manager")
                Engineer @Html.RadioButtonFor(model => model.Role, "Engineer")
                User Interface @Html.RadioButtonFor(model => model.Role, "User Interface")
                @Html.ValidationMessageFor(model => model.Role)
            </div>
        </div>

        <div class="editor-label">
            <b>Why are you interested in being a part of IT in the D?</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question1)
            @Html.ValidationMessageFor(model => model.Question1)
        </div>

        <div class="editor-label">
            <b>What interests you most/least in a job?</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question2)
            @Html.ValidationMessageFor(model => model.Question2)
        </div>

        <div class="editor-label">
            <b>Where do you see yourself in three years?</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Question3)
            @Html.ValidationMessageFor(model => model.Question3)
        </div>

        <div>
            <label for="resume">Upload Resume</label>
            <input type="file" name="resume" id="resume" />
        </div>

        <div>
            <label for="transcript">Upload Transcript (optional)</label>
            <input type="file" name="transcript" id="transcript" />
        </div>

        <p>
            <input type="submit" value="Submit Application" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    </div>
